<% include ../partials/header.ejs %>

    <header class="jumbotron text-center" id="myMainJumbotron">
        <h1><i class="far fa-lightbulb"></i> Lightbulb</h1>
        <p> Share your best ideas with the world</p>
        <a href="/ideas/new" class="btn btn-lg" id="myMainButton">Share an Idea</a>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap"> 

        <% ideas.forEach(function(idea){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/ideas/<%= idea.id %>">
                        <img src="<%= idea.imagePath %>" class="indexIdeaImg">
                    </a>
                    <div class="caption">
                        <h4> <%= idea.name %> </h4>
                        <br>                         
                        <p class="text-left" style="margin: 0">
                            <em>by: <%= idea.user.username %> </em>
                            
                            <span style="float:right;"> 
                                <%= idea.likes.length %>
                                <label for="like_<%=idea.id %>">
                                    <% if(idea.isLiked){ %>
                                        <i class="fas fa-lightbulb"></i>                                      
                                    <% } else { %>
                                        <i class="far fa-lightbulb"></i>
                                    <% } %>
                                </label>             
                                <form action="/ideas/<%= idea.id %>/likes" method="POST" style="display: none">
                                    <!-- submit id needs to be unic because it's inside a for loop -->
                                    <input type="submit" id="like_<%=idea.id %>">
                                </form> 
                            </span>                            
                        </p>
                    </div>
                </div>
            </div>

        <% }); %>
    
    </div>

<% include ../partials/footer.ejs %>