<% include ../partials/header.ejs %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <img src="<%= idea.imagePath %>" class="img-responsive" id="showIdeaImg">
                <div class="caption">
        
                    <!-- <div>
                        <h4 class="headline"> <%=idea.name %> </h4>
                        <p class="headline" style="float: right; margin-top: 5px"><%= idea.date.split(" ")[0] %></p>
                    </div> -->

                    <p> 
                        <span style="font-size: 20px">  <%=idea.name %> </span>
                        <span class="pull-right"> <%= idea.date.split(" ")[0] %> </span>
                    </p>

                    <p> <%= idea.description %></p>
                    <p>
                        <em> Submitted By <%= idea.user %> </em>
                        <span style="float:right;"> 5 <i class="far fa-lightbulb"></i> </span>
                    </p>
                    <a href="/ideas/<%=idea._id%>/edit" class="btn btn-warning">Edit</a>
                    <form action="/ideas/<%=idea._id%>?_method=DELETE" method="POST" class="delete-form" style="display: inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <div>
                <hr id="commentsLine">
                <br>
                <% idea.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.user %></strong>
                        <span class="pull-right"> <%= comment.date %> </span>
                        <p>
                            <%= comment.text %>
                        </p>           
                        <a class="btn btn-xs btn-warning" 
                            href="/ideas/<%=idea._id%>/comments/<%=comment._id%>/edit">
                            Edit
                        </a>
                        <form action="/ideas/<%=idea._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="delete-form" style="display: inline">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    </div>
                </div>
                <br>
                <% }); %>
                <div>
                    <a class="btn" id="newCommentButton" href="/ideas/<%=idea._id%>/comments/new">Add New Comment</a>
                </div>

                <br>
            </div>

        </div>
    </div>

<% include ../partials/footer.ejs %>