<% include ../partials/header.ejs %>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <img src="<%= idea.imagePath %>" class="img-responsive" style="width: 100%; border-radius: 5px 5px 0  0;">
                <div class="caption">
                    <h4><a href=""> <%=idea.name %> </a> </h4>
                    <p> <%= idea.description %></p>
                    <p>
                        <em> Submitted By Anderson Schmidt </em>
                        <span style="float:right;"> 5 <i class="far fa-lightbulb"></i> </span>
                    </p>
                    <a href="/ideas/<%=idea._id%>/edit" class="btn btn-warning">Edit</a>
                    <form action="/ideas/<%=idea._id%>?_method=DELETE" method="POST" class="delete-form" style="display: inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>