<% include ../partials/header.ejs %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.username %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatarPath %>" style="border-radius: 5px">
        </div>
        <p><%= user.bio %></p>
        <% if(currentUser && (user._id.equals(currentUser._id) || currentUser.isAdmin)) { %>
            <a href="/users/<%=user.id%>/edit" class="btn btn-warning" style="border: none; color: #574b4f">Edit</a>
            <form action="/users/<%=user.id%>?_method=DELETE" method="POST" class="delete-form" style="display: inline">
                <button class="btn btn-danger" style="border: none; color: #574b4f">Delete</button>
            </form>
        <% } %>
    </div>

    <div class="col-md-8">
        <h3><%= user.username %>'s ideas</h3>
        <ul>
            <% ideas.forEach(function(idea){ %>
                <li><a href="/ideas/<%= idea.id %>"> <%= idea.name %> </a></li>
            <% }) %>
        </ul>
    </div>

</div>

<% include ../partials/footer.ejs %>